<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
<form action='{{ url_for('edit_question', question_id=question.get('id')) }}' method="POST" enctype="multipart/form-data">
    <label for="title">Title</label><br>
    <input id='title' name='title' type="text" minlength="5" required><br><br>

    <label for="message">Message</label><br>
    <textarea id="message" name="message"  rows="20" cols="50" required>{{ question.get('message') }}</textarea><br><br>

    <label for="image">Click on the "Choose File" button to upload a file:</label><br><br>
    <input type="file" id="image" name="image"><br>

    <button type="submit">Edit question</button>
</form>
</body>
</html>