<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
<form action='{{ url_for('edit_comment_question', comment_id=comment.id) }}' method="POST" enctype="multipart/form-data">

    <label for="message">Message</label><br>
    <textarea id="message" name="message"  rows="20" cols="50" required>{{ comment.message }}</textarea><br><br>


    <form action="/comment/{{ comment.id }}/update" method = 'POST'>
    <button type='submit' class="update-btn">UPDATE</button>
    </form>

</body>
</html>