{% extends 'layout.html' %}
{% block title %}List of questions{% endblock %}
{% block content %}

<div class="container">
        <table class="table table-hover table-condensed" style="width:100%">
            {% for cell in questions[0].keys() %}
                {% if cell != 'id' %}
                <th style="color:cadetblue;">{{ cell|capitalize|replace("_", " ") }}
                </th>
                {% endif %}
            {% endfor %}
                <th style="color:cadetblue">Vote</th>
                <th>
                    <div>
                        <form action="/list">
                            <label for="sort"></label>
                            <select id="sort" type="text" name="sort">
                            {% for column in columns %}
                                {% for o in order %}
                                    {% if sort == column+'|'+o %}
                                    <option value="{{ column }}|{{ o }}" selected>{{ column|capitalize }} | {{ o }}</option>
                                    {% else %}
                                     <option value="{{ column }}|{{ o }}">{{ column|capitalize }} | {{ o }}</option>
                                    {% endif %}
                                 {% endfor %}
                            {% endfor %}
                            </select>
                             <button type="submit">Sort</button>
                        </form>
                    </div>
                </th>

            {% for data in questions %}
                <tr class="table-info">
                    <td> {{ data.date.strftime("%d-%m-%Y %H:%M") }}</td>
                    <td> {{ data.views }}</td>
                    <td> {{ data.votes }}</td>
                    <td> <a class= "rainbow rainbow-1" href={{ url_for('display_question', question_id=data.id) }} > {{ data.title }} </a>
                    </td>
                    <td> {{ data.message }}</td>
                    {% if data.image == 'images/' or data.image == None or data.image == '' %}
                        <td></td>
                    {% else %}
                    <td><img src="{{ url_for('static', filename=data.image) }}" alt='{{ data.image }}' width="100" ></td>
                    {% endif %}
                    <td>
{#            ↓↑#}
                        <a href="/question/{{ data.id }}/vote-up">
                            <button type="button"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        </a>
                        <a href="/question/{{ data.id }}/vote-down">
                            <button type="button"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                        </a>
                    </td>
                    <td>
                        {% if 'username' in session %}
                        <form action="/question/{{ data['id'] }}/delete" method = 'POST'><button type='submit' class="delete-btn">Delete
                        </button></form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    <div class="container">
        <p>
            <button> <a class= "rainbow rainbow-1" href="{{ url_for('add_question') }}">Add question</a></button>
{#            <form method="post" action="#"><button type="submit"> Add question </button></form>#}
            <button> <a class= "rainbow rainbow-1" href="/"><i class="fa fa-home"></i>Take me back</a> </button>
        </p>
    </div>
</div>

{% endblock %}