<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
</head>
<body>
        <table style="width:70%">
            {% for header in headers %}
                <th style="color:cadetblue">{{ header }}</th>
            {% endfor %}

            {% for data in questions %}
                <tr>
                    <td> {{ data['id'] }}</td>
                    <td> {{ data['submission_time'] }}</td>
                    <td> {{ data['view_number'] }}</td>
                    <td> {{ data['vote_number'] }}</td>
                    <td> {{ data['title'] }}</td>
                    <td> {{ data['message'] }}</td>
                    <td> <img src="file:/home/juhaszszabolcs90/Codecool/Web/01/ask-mate-1-python-czlazlo/images/{{ data['image'] }}" width="100" </td>
                </tr>
            {% endfor %}
        </table>
<button> <a href="http://127.0.0.1:5000/add_question">Add question<s</a> </button>
</body>
</html>