{% extends 'layout.html' %}
{% block title %}Users{% endblock %}

{% block content %}
    <div class="container"><br>
        <h2>Users</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:#FF0000" ;>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <table class="table table-hover table-condensed" style="width:100%">
        <tr class="table-danger">
            <th> Username</th>
            <th> Registration date</th>
            <th> Number of asked questions</th>
            <th> Number of answers</th>
            <th> Number of comments</th>
            <th> Reputation</th>
            {#        <th colspan="4"> Options</th>#}
        </tr>

        {% for users in users_data %}
            <tr class="table-info">
                <td> <a href={{ url_for('user', user_name=users.user_name) }} > {{ users.user_name }} </a></td>
                <td> {{ users.submission_time.strftime("%Y-%m-%d %H:%M") }}</td>
                <td> {{ users.number_of_questions }}</td>
                <td> {{ users.number_of_answers }}</td>
                <td> {{ users.number_of_comments }}</td>
                <td> {{ users.honor }}</td>
            </tr>
        {% endfor %}


        <div class="container">
        </div>
</table>

                <button> <a class= "rainbow rainbow-1" href="/"><i class="fa fa-home"></i>Take me back</a> </button>
{% endblock %}